//ФЛЕКСБОКС--------------------------------------------------------------------------------------------------------------------
@mixin flexbox($axis){
	display: flex;
	flex-direction: $axis;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
}
//ФЛЕКСБОКС--------------------------------------------------------------------------------------------------------------------