//ПОДКЛЮЧЕНИЕ ШРИФТОВ----------------------------------------------------------------------------
@import "fonts";
//ПОДКЛЮЧЕНИЕ ШРИФТОВ----------------------------------------------------------------------------

//ПОДКЛЮЧЕНИЕ МИКСИНОВ----------------------------------------------------------------------------
@import "mixins1";
//ПОДКЛЮЧЕНИЕ МИКСИНОВ----------------------------------------------------------------------------

//ОГРАНИЧИВАЮЩИЙ КОНТЕЙНЕР-----------------------------------------------------------------------
._container {
	max-width: 1210px;
	padding: 0 20px;
	margin: 0 auto;
	@media (max-width: 768px) {
		max-width: none;
		padding: 0;
	}
}
//ОГРАНИЧИВАЮЩИЙ КОНТЕЙНЕР-----------------------------------------------------------------------

//БАЗОВЫЕ НАСТРОЙКИ------------------------------------------------------------------------------
body {
	font-family: "Open Sans", sans-serif;
}
.wrapper {
	display: flex;
	flex-direction: column;
}
//БАЗОВЫЕ НАСТРОЙКИ------------------------------------------------------------------------------

//СТИЛИ ШАПКИ------------------------------------------------------------------------------------
.header {
	&__body {
		position: relative;
		display: flex;
		justify-content: space-between;
		@media (max-width: 887px) {
			justify-content: center;
		}
		align-items: center;
		height: 93px;
	}

	&__menu {
		@media (max-width: 887px) {
			display: none;
		}
		li:first-child {
			margin: 0 20px 0 0;
		}
	}
	&__link {
		color: #868686;
		@media (max-width: 1025px) {
			font-size: 13px;
		}
		&.active {
			padding: 10px 20px;
			background-color: #ffbb42;
			border-radius: 3px;
			color: #fff;
		}
	}
	&__burger {
		position: absolute;
		top: 34px;
		left: 0;
		span {
			&:before {
				content: "";
				position: absolute;
				width: 50px;
				height: 3px;
				background-color: #ffc155;
				top: 0;
				left: 0;
			}
			&:first-child {
				&:before {
					top: 13px;
				}
			}
			&:last-child {
				&:before {
					top: 26px;
				}
			}
		}
	}
}
//СТИЛИ ШАПКИ------------------------------------------------------------------------------------

//СТИЛИ КОНТЕНТА------------------------------------------------------------------------------------
.text {
	font-family: Lato;
	color: #75888d;
	font-size: 18px;
	font-weight: 300;
	line-height: 22px;
	text-align: center;
	margin-bottom: 49px;
	span {
		display: block;
		font-family: "GothamBlack";
		font-size: 30px;
		letter-spacing: -0.75px;
		text-transform: uppercase;
		color: #394b50;
	}
}
.btn {
	background-color: #ffbb42;
	color: #ffffff;
	text-transform: uppercase;
	font-family: Lato;
	margin-top: 35px;
	margin-bottom: 48px;
	width: 131px;
	text-align: center;
	padding: 14px 0 0 0;
	border-radius: 5px;
	height: 42px;
}
.menu {
	font-family: Lato, sans-serif;
	text-transform: uppercase;
	ul {
		display: flex;
		li {
			margin: 0 40px 0 0;
			@media (max-width: 1025px) {
				margin: 0 30px 0 0;
			}
		}
		li:last-child {
			margin: 0 0 0 0;
		}
	}
}

.banner {
	background-color: #709dca;
	&__body {
		display: flex;
		flex-direction: column;
		margin: 0 41px;
		@media (max-width: 645px) {
			margin: 0;
		}
	}
	&__request {
		display: flex;
		flex-direction: column;
	}
	&__text {
		margin: 110px 0 33px 0;
		text-align: center;
		color: #ffffff;
	}
	&__title {
		font-family: "GothamBlack";
		font-size: 35px;
		font-weight: 400;
		letter-spacing: -0.88px;
		text-transform: uppercase;
	}
	&__subtitle {
		line-height: 24px;
		font-size: 16px;
		font-weight: 300;
	}
	&__slider {
		min-width: 0;
		margin-top: 50px;
	}
	&__laptop {
		position: relative;
		margin: 0 auto;
		max-width: 648px;
		max-height: 344px;
		img {
			width: 100%;
			&:last-child {
				position: absolute;
				top: 18 / 344 * 100%;
				left: 103 / 648 * 100%;
				width: 445 / 648 * 100%;
			}
		}
		// background: url('../img/banner/02.jpg') 103px 18px / 445px 264px no-repeat,
		// 				url('../img/banner/01.png') center / 648px 344px no-repeat;
	}
}
.banner-form {
	form {
		display: flex;
		@media (max-width: 995px) {
			flex-direction: column;
			align-items: center;
		}
		justify-content: center;
		flex-wrap: wrap;
	}
	input {
		width: 281px;
		@media (max-width: 400px) {
			width: inherit;
			max-width: 281px;
		}
		height: 46px;
		padding: 10px;
		margin-right: 10px;
		@media (max-width: 995px) {
			margin-right: 0;
		}
		margin-bottom: 10px;
	}
	div {
		position: relative;
	}
	i {
		margin: 12px;
		margin-right: 15px;
		position: absolute;
		pointer-events: none;
		font-family: "Open Sans";
		font-size: 13px;
		color: #a9a9a9;
		top: 7px;
		left: 15px;
		&:before {
			margin: 0 13px 0 0;
		}
		&._active {
			visibility: hidden;
		}
	}

	&__button {
		button {
			height: 46px;
			text-transform: uppercase;
			padding: 15px 43px;
			background-color: #ffbb42;
			border-radius: 3px;
			color: #fff;
			@media (max-width: 1196px) {
				transform: translate(0, 20px);
			}
			@media (max-width: 995px) {
				transform: translate(0, 10px);
			}
			@media (max-width: 400px) {
				padding: 15px 20px;
			}
		}
	}
}

.service {
	&__body {
		@include flexbox(column);
		margin: 203px 0 0 0;
	}
	&__text {
		color: #394b50;
		font-size: 16px;
		line-height: 22px;
		text-align: center;
		span {
			display: block;
			font-weight: 900;
			font-family: "GothamBlack";
			letter-spacing: -0.75px;
			text-transform: uppercase;
			font-size: 30px;
		}
	}
	&__column {
		@include flexbox(row);
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 0 0 155px 0;
	}
	&__item {
		@include flexbox(column);
		position: relative;
		flex: 0 1 551px;
		padding: 0 0 0 82px;
		margin: 93px 0 0 0;
		&:before {
			position: absolute;
			left: 0;
			top: 17px;
			font-size: 50px;
			line-height: 22px;
			color: #709dca;
		}
		&._active:before {
			color: #f6772c;
		}
		&.fa-dollar-sign:before {
			left: 15px;
		}
	}
	&__title {
		color: #394b50;
		font-family: Lato;
		font-size: 16px;
		font-weight: 700;
		line-height: 22px;
		text-transform: uppercase;
		margin: 0 0 21px 0;
	}
	&__subtitle {
		color: #7b7b7b;
		font-size: 13px;
		line-height: 22px;
	}
}

.about {
	@include flexbox(row);
	overflow: hidden;
	&__content {
		flex: 0 0 100%;
		@include flexbox(row);
		background-color: #ffc155;
	}
	& ._container {
		@include flexbox(row);
		justify-content: flex-end;
		align-items: center;
	}
	&__body {
		flex: 0 0 50%;
		padding: 164px 0 174px 80px;
		color: #ffffff;
	}
	&__title {
		font-family: "GothamBlack";
		font-size: 30px;
		line-height: 22px;
		text-transform: uppercase;
		margin-bottom: 28px;
	}
	&__subtitle {
		font-size: 13px;
		line-height: 24px;
		margin-bottom: 50px;
	}
	&__read {
		background-color: #ffc155;
		border: 1px solid #e7ad48;
		text-transform: uppercase;
		font-size: 14px;
		font-family: Lato;
		color: #ffffff;
		padding: 17px 33px 19px 32px;
	}
	&__image {
		flex: 0 0 50%;
		transform: translate(-200%, 0);
		position: relative;
		& img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}
}

.choose {
	background-color: #e7edf3;
	&__body {
		@include flexbox(column);
		align-items: center;
		margin-top: 137px;
		margin-bottom: 164px;
	}
}
.choose-plans {
	@include flexbox(row);
	width: 100%;
	&__item {
		@include flexbox(column);
		flex: 0 1 33.333%;
		align-items: center;
		border: 1px solid #ccd5df;
		border-radius: 5px;
		background-color: #fff;
		&._active {
			transform: scale(1.08, 1.1);
			background-color: #709dca;
			& .choose-plans__title {
				color: #fff;
			}
			& .choose-plans__price {
				color: #fff;
				span {
					color: #fff;
				}
			}
			& .choose-plans__plus {
				color: #fff;
			}
		}
	}
	&__title {
		color: #818b95;
		font-family: Lato;
		font-size: 25px;
		font-weight: 300;
		line-height: 22px;
		text-transform: uppercase;
		margin: 57px 0 50px 0;
	}
	&__price {
		text-align: center;
		color: #818b95;
		font-family: Lato;
		font-size: 20px;
		font-weight: 300;
		line-height: 22px;
		font-variant: small-caps;
		margin-bottom: 33px;
		span {
			display: block;
			font-size: 60px;
			color: #ffbb42;
			font-weight: 700;
			position: relative;
			margin-bottom: 15px;
			span {
				font-size: 30px;
				position: absolute;
				top: -10px;
				left: -11px;
			}
		}
	}
	&__plus {
		color: #b5bbc1;
		font-size: 14px;
		font-family: Lato;
		line-height: 40px;
		text-transform: uppercase;
		text-align: center;
		width: 80%;
		ul {
			@include flexbox(column);
			align-items: center;
			width: 100%;
			li {
				width: 100%;
				border-top: 1px solid #e2e9f0;
			}
		}
	}
	&__buy {
		display: flex;
		justify-content: center;
	}
}

.how {
	&__body {
		@include flexbox(column);
		margin: 0px 0px 50px 0px;
	}
	&__text {
		margin-bottom: 107px;
		margin-top: 155px;
	}
	&__content {
		@include flexbox(row);
		justify-content: space-between;
	}
	.fas:before {
		font-size: 72px;
		position: absolute;
		top: 0;
		color: #fff;
		text-shadow: -1px 0 #709dca, 0 1px #709dca, 1px 0 #709dca, 0 -1px #709dca;
	}
	&__step {
		flex: 0 0 20%;
		position: relative;
		&:nth-child(even):before {
			content: "";
			background: url("../img/how/01.png") no-repeat;
			position: absolute;
			top: -15%;
			left: -40%;
			width: 100%;
			height: 100%;
		}
		&:nth-child(3):before {
			content: "";
			background: url("../img/how/02.png") no-repeat;
			position: absolute;
			top: 15%;
			left: -40%;
			width: 100%;
			height: 100%;
		}
	}
	&__get-start {
		display: block;
		justify-self: center;
		width: 165px;
		height: 46px;
		padding: 16px 0;
		margin: 50px auto;
	}
}
.how-step {
	&__title {
		position: relative;
		color: #394b50;
		font-family: Lato;
		font-size: 20px;
		font-weight: 700;
		line-height: 22px;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 28px;
		padding-top: 159px;
		width: 100%;
	}
	&__subtitle {
		color: #7b7b7b;
		font-size: 13px;
		text-align: center;
		line-height: 22px;
	}
}

.happy {
	@include flexbox(column);
	background-color: #ffc155;
	&__text {
		color: #fff;
		margin: 141px 0 58px 0;
		span {
			color: #fff;
		}
	}
	&__content {
		margin-bottom: 160px;
	}
}
.happy-content {
	@include flexbox(row);
	justify-content: space-between;
	flex-wrap: wrap;
	&__item {
		flex: 0 0 48%;
		background-color: #ffffff;
		@include flexbox(row);
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: 20px;
	}
	&__avatar {
		margin: 43px 0 0 30px;
		flex: 0 0 20%;
	}
	&__text {
		margin-top: 51px;
		flex: 0 0 70%;
		color: #7b7b7b;
		font-size: 13px;
		line-height: 22px;
		padding: 0 15px;
		margin-bottom: 51px;
	}
	&__quote {
		position: relative;
		&:before,
		&:after {
			font-size: 30px;
			font-weight: 700;
			font-family: "BrandonGrotesque-Bold";
			position: absolute;
			line-height: 22px;
		}
		&:before {
			content: "\201c";
			left: -18px;
			top: 0;
		}
		&:after {
			content: "\201d";
			transform: rotate(-180deg) scale(-1, 1);
			bottom: 0px;
			left: 200px;
		}
	}
	&__name {
		margin-top: 29px;
		color: #99a9ae;
		font-family: Lato;
		line-height: 22px;
		text-transform: uppercase;
		span {
			color: #f6772c;
		}
	}
}

.news {
	&__body {
		@include flexbox(column);
		margin-bottom: 57px;
	}
	&__text {
		margin: 154px 0 30px 0;
	}
	&__map {
		@include flexbox(column);
		align-items: center;
		max-width: 100%;
		background: url("../img/news/01.png") 0 0 / cover no-repeat;
		flex: 1 1 auto;
	}
	&__address {
		margin-top: 40px;
		width: 285px;
		height: 298px;
		background: url("../img/news/02.png") center / cover no-repeat;
		ul {
			height: 100%;
			@include flexbox(column);
			align-items: center;
			justify-content: center;
			li {
				color: #aeb7ba;
				font-size: 13px;
				text-align: center;
				margin-bottom: 16px;
				&:first-child {
					margin-bottom: 21px;
					font-size: 15px;
					font-family: Lato;
					font-weight: 700;
					color: #ffffff;
					text-transform: uppercase;
				}
				&:last-child {
					margin-bottom: 0;
					color: #ffbb42;
					line-height: 24px;
				}
			}
		}
	}
	&__logo {
		margin-bottom: 200px;
	}
	&__form {
		margin-bottom: 53px;
		form {
			justify-content: center;
		}
		input {
			border: 1px solid #cbcbcb;
			margin-right: 10px;
		}
	}
}

.footer {
	&__body {
		@include flexbox(column);
		align-items: center;
		border-top: 1px solid #e3e7ec;
	}
	&__menu {
		margin: 68px 0 29px 0;
		a {
			color: #394b50;
			font-size: 13px;
		}
	}
	&__contacts {
		color: #394b50;
		font-size: 23px;
		font-family: Lato;
		line-height: 24.15px;
		text-align: center;
	}
	&__tel {
		margin-bottom: 23px;
		&:before {
			font-size: 20px;
			color: #394b50;
			text-transform: uppercase;
		}
	}
	&__social {
		margin-bottom: 53px;
		i {
			margin-right: 10px;
			&:last-child {
				margin-right: 0;
			}
			&:first-child {
				&:before {
					color: #ffc155;
				}
			}
			&:before {
				color: #709dca;
				font-size: 18px;
				line-height: 24.99px;
				text-align: center;
			}
		}
	}
	&__copyright {
		height: 49px;
		background-color: #709dca;
		@include flexbox(column);
		justify-content: center;
		align-items: center;
		color: #ffffff;
		font-size: 13px;
		line-height: 24px;
		text-align: center;
	}
}

.slick-track {
	display: flex;
}

.slick-list {
	overflow: hidden;
	transform: translate(0, 30px);
}
.slick-dots {
	display: flex;
	align-items: center;
	justify-content: center;
	transform: translate(0, 50px);
	@media (max-width: 428px) {
		display: none;
	}
	li {
		list-style: none;
		margin-right: 10px;
		&:last-child {
			margin-right: 0;
		}
		&.slick-active button {
			border: 2px solid #1ca8dd;
		}
	}
	button {
		font-size: 0;
		width: 12px;
		height: 12px;
		border: 2px solid #dedfe0;
		background: #fff;
		border-radius: 50%;
	}
}
//СТИЛИ КОНТЕНТА------------------------------------------------------------------------------------
