/* Шрифты */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
/* Шрифты */

/* Обнуление */
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	background-color: #b1afa9;
	font-family: 'Oswald', sans-serif;
}
html{overflow-y: scroll;}
body._lock{overflow: hidden;}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/* Обнуление */

/* Главные стили */
._container{
	max-width: 1300px;
	margin: 0 auto;
}
@media (max-width: 1300px) {
	._container{
		max-width: none;
	}
}
/* Главные стили */

/* Повторяющиеся стили */
.btn {
	padding: 8px 0;
	width: 220px;
	background-color: #fff;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 600;
	border-radius: 10px;
	box-shadow: 0px 0px 20px 5px #94938e;
	transition: all .3s ease 0s;
}
.btn:hover{
	background-color: rgb(240, 234, 234);
}
.btn:active{
	transform: translate(0, 1px);
}
@media (max-width: 1260px) {
	.btn{
		font-size: 12px;
		width: 170px;
	}
}
/* Повторяющиеся стили */

/* Основные стили */
.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	z-index: 3;
}
.header__body {
	height: 100%;
	background-color: #94938e;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	position: relative;
	box-shadow: 0px 0px 10px 1px rgb(94, 89, 89);
}
.header__profile {
	margin: 15px 0px 0px 15px;
	position: relative;
}
.header__profile-btn {
	background-color: #fff;
	border-radius: 15px;
	box-shadow: 0px 1px 2px #000;
	padding: 8px 0;
	width: 150px;
	font-family: 'Oswald', sans-serif;
	position: relative;
	z-index: 2;
}
.header__profile-menu{
	padding: 5px;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	z-index: 5;
}
.header__profile:hover .header__profile-menu ul{
	max-height: 100px;
	pointer-events: all;
}
.header__profile-menu ul{
	text-align: center;
	background-color: #fff;
	border-radius: 15px;
	box-shadow: 0px 2px 10px 1px rgb(88, 87, 87);
	overflow: hidden;
	transition: all .3s linear 0s;
	max-height: 0px;
	pointer-events: none;
}
.header__profile-link{
	display: block;
	padding: 12px 0;
	text-transform: uppercase;
	font-size: 12px;
	color: #000;
	transition: all .5s ease 0s;
	width: 100%;
	background-color: transparent;
}
.header__profile-link:hover{
	background-color: rgb(219, 213, 213);
}
.header__nav{
	position: relative;
	overflow: hidden;
	border-bottom-left-radius: 10px;
}
.header__nav:before{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: #fff;
}
.header__nav ul{
	display: flex;
}
.header__link {
	text-transform: uppercase;
	color: #fff;
	font-size: 16px;
	font-family: 'Oswald', sans-serif;
	display: inline-block;
	padding: 5px 15px;
}
.header__link._mobile{
	display: none;
	background-color: transparent;
}
.header__link._selected{
	background-color: #fff;
	color: #000;
	
}
.header__logo {
	height: 100%;
	position: absolute;
	top: 0;
	right: 25px;
	display: flex;
	align-items: center;
}
.header__logo img{
	max-width: 80px;
	max-height: 100%;
}
.header__logo-text{
	font-family: 'Play', sans-serif;
	font-size: 16px;
	color: #fff;
	margin: 10px 10px 0px 0px;
	line-height: 1.4;
	text-align: right;
	font-weight: bold;
}
@media (max-width: 768px) {
	.header{
		top: initial;
		bottom: -2px;
		height: 40px;
	}
	.header__body{
		box-shadow: none;
	}
	.header__profile{
		display: none;
	}
	.header__logo{
		display: none;
	}
	.header__nav{
		width: 100%;
		height: 100%;
		border-bottom-left-radius: 0;
	}
	.header__nav ul {
		height: 100%;
		border-bottom: none;
	}
	.header__nav li{
		flex: 0 0 30%;
		text-align: center;
	}
	.header__nav li:last-child{
		flex: 0 0 10%;
	}
	.header__link{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		width: 100%;
	}
	.header__link._mobile{
		display: flex;
		padding: 5px 0;
	}
	.header__link img{
		max-height: 100%;
		filter: invert(1);
	}
}
@media (max-width: 490px){
	.header__link{
		font-size: 12px;
	}
}
@media (max-width: 400px) {
	.header__link{
		font-size: 8px;
	}
	.header{
		height: 30px;
	}
}

.page__body{
	display: flex;
}
.main {
	flex: 0 0 100%;
	display: none;
	height: 100%;
}
.main._show{
	display: flex;
}
.main > div{
	margin: 135px 0px 0px 0px;
}
.main__content{
	flex: 0 1 50%;
}
.main__title {
	text-transform: uppercase;
	font-size: 42px;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	color: #fff;
	line-height: 1.3;
	margin: 10px 0px 15px 0px;
}
.main__subtitle {
	font-size: 18px;
	font-family: 'Oswald', sans-serif;
	line-height: 1.8;
	color: #fff;
}
.main__buttons {
	display: flex;
	justify-content: space-evenly;
	margin: 35px 0px 0px 0px;
}
.main__buttons_before{
	display: none;
}
.main__button {
	text-align: center;
}
.main__btn-subtitle {
	max-width: 200px;
	margin: 15px auto 0 auto;
	text-transform: uppercase;
	color: #fff;
	line-height: 1.3;
}
.main__and {
	font-size: 22px;
	font-weight: bold;
	color: #fff;
	margin: 4px 0px 0px 0px;
}
.main__image{
	pointer-events: none;
	z-index: 0;
	position: fixed;
	left: 50%;
	top: 0;
	height: 600px;
}
.main__image img{
	max-height: 100%;
}
.main__image_hide{
	width: 50%;
	height: auto;
	text-align: left;
}
.main__image_hide img{
	max-width: 100%;
	max-height: none;
}
@media (max-width: 1260px) {
	.main > div{
		margin: 100px 0px 0px 0px;
	}
	.main__content{
		flex: 0 1 40%;
		padding: 20px 0 0 30px;
	}
	.main__title{
		font-size: 30px;
	}
	.main__subtitle{
		font-size: 14px;
	}
	.main__buttons{
		flex-direction: column;
		align-items: center;
	}
	.main__btn-subtitle{
		font-size: 10px;
		margin: 8px auto 0 auto;
	}
	.main__and{
		font-size: 14px;
		margin: 20px 0 25px 0;
	}
	.main__image{
		left: 40%;
		height: 500px;
	}
}
@media (max-width: 900px) {
	.main__content{
		flex: 0 0 50%;
	}
	.main__image{
		left: 50%;
	}
	.main__image_hide{
		display: none;
	}
}
@media (max-width: 768px) {
	.page{
		margin: 0px 0px 50px 0px;
	}
	.main > div{
		margin: 0;
	}
	.main._show{
		text-align: center;
		flex-direction: column;
	}
	.main__content{
		padding: 20px;
	}
	.main__buttons{
		display: none;
		flex-direction: row;
		margin: 15px 0px 0px 0px;
		align-items: flex-start;
		width: 60%;
		margin: 15px auto 10px;
	}
	.main__buttons_before{
		display: flex;
		justify-content: center;
		margin: 25px 0px 0px 0px !important;
		width: 100%;
	}
	.main__btn-subtitle{
		font-size: 9px;
		line-height: 1.5;
		max-width: 180px;
	}
	.main__and{
		margin: 8px 25px 0px 25px;
		font-size: 18px;

	}
	.main__image{
		text-align: center;
		height: 300px;
		width: 100%;
		position: static;
	}
	.main__image_hide{
		display: none;
	}
	.main__image img{
		max-width: 100%;
	}
}
@media (max-width: 660px) {
	.main__subtitle{
		line-height: 1.3;
	}
	.main__image{
		height: 250px;
	}
}
@media (max-width: 490px) {
	.main__content{
		padding: 5px;
	}
	.main__title{
		font-size: 24px;
	}
	.main__subtitle{
		font-size: 12px;
		padding: 0 40px;
		margin-bottom: 10px;
	}
	.main__buttons{
		flex-direction: column;
		align-items: center;
		margin-top: 20px !important;
	}
	.main__btn-subtitle{
		max-width: none;
	}
	.main__and{
		margin: 15px 0;
	}
	.main__image{
		height: 200px;
	}
}
@media (max-width: 370px) {
	.main__content{
		padding: 2px;
	}
	.main__title{
		font-size: 20px;
	}
	.main__subtitle{
		font-size: 11px;
		line-height: 1.4;
	}
	.main__buttons{
		margin-top: 0px !important;
	}
}
.orders__header{
	border-bottom: 3px solid #fff;
	padding: 0px 0px 25px 0px;
	flex-wrap: wrap;
}
.orders__header-top {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.orders__title{
	text-align: left;
	flex: 1 0 auto;
}
.orders__title .title{
	font-size: 36px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	color: #fff;;
}
.orders__title .count{
	display: inline-block;
	margin: 0px 0px 0px 5px;
	font-weight: bold;
	color: #fff;
}
.sort {
	position: relative;
	font-size: 14px;
	font-family: 'Oswald', sans-serif;
	z-index: 2;
}
.sort__title {
	background-color: #fff;
	padding: 5px 10px;
	width: 170px;
	text-align: right;
	text-transform: uppercase;
	border-radius: 10px;
	font-size: inherit;
}
.sort__title::before, .sort__title::after{
	content: '';
	position: absolute;
	top: calc(50% - 0.75px);
	left: 10px;
	width: 12px;
	height: 1.5px;
	background-color: #000;
}
.sort__title::before{
	transform: rotate(45deg);
}
.sort__title::after{
	transform: rotate(-45deg);
	left: 18px;
}
.sort__menu {
	position: absolute;
	top: calc(100% + 5px);
	left: 0;
	width: 100%;
	background-color: #fff;
	border-radius: 10px;
	overflow: hidden;
	transition: all .2s linear 0s;
	max-height: 0px;
	box-shadow: 0px 1px 10px 1px rgb(190, 185, 185);
}
.sort__menu._show{
	max-height: 100px;
}
.sort__item {
	display: block;
	padding: 8px 10px;
	width: 100%;
	text-align: right;
	background-color: #fff;
	text-transform: uppercase;
	transition: all .3s ease 0s;
	font-size: inherit;
}
.sort__item._selected{
	background-color: rgb(133, 128, 128);
	font-weight: bold;
	color: #fff;
}
.sort__item:hover:not(._selected){
	background-color: rgb(218, 213, 213);
}
.orders__header-map {
	margin: 15px 0px 0px 0px;
	text-align: start;
}
.orders__header-map span{
	display: inline-block;
	font-size: 9px;
	color: #fff;
	text-transform: uppercase;
	margin: 0px 20px 0px 0px;
	padding: 5px 0px 5px 35px;
	position: relative;
}
.orders__header-map span::before{
	content: '';
	position: absolute;
	border: 1px solid#fff;
	top: 0;
	left: 0;
	width: 20px;
	height: 100%;
}
.orders__header-map span.readed::before{
	background-color: rgb(37, 219, 37);
}
.orders__header-map span.wait::before{
	background-color: rgb(255, 255, 255);
}
.orders__header-add-order{
	width: 100%;
	height: 60px;
	margin: 25px 0px 0px 0px;
	text-transform: uppercase;
	font-size: 18px;
	color: #fff;
	background-color: transparent;
	border: 3px solid #fff;
	border-radius: 15px;
	transition: all .3s ease 0s;
}
.orders__header-add-order:hover{
	background-color: rgba(255, 255, 255, 0.308);
	font-size: 19px;
}
.orders__header-add-order:active{
	transform: translate(0, 1px);
}
.orders__body {
	margin: 25px 0px 0px 0px;
}
.orders__item {
	margin: 0px 0px 30px 0px;
}
.order {
	width: 100%;
	background-color: #fff;
	border-radius: 15px;
	padding: 8px;
	position: relative;
}
@media (max-width: 500px) {
	.order{
		margin: 0px 0px 15px 0px;
	}
	.orders__header{
		padding-bottom: 10px;
	}
	.orders__body{
		margin: 10px 0px 0px 0px;
	}
	.orders__title .title{
		font-size: 22px;
	}
	.sort{
		font-size: 10px;
		margin: 5px 0px 0px 0px;
	}
	.sort__title{
		width: 130px;
	}
	.orders__header-add-order{
		font-size: 12px;
		margin: 10px 0px 0px 0px;
	}
	.orders__header-map span{
		padding-left: 25px;
		margin: 0px 0px 5px 0px;
	}
}
@media (max-width: 350px) {
	.orders__title .title{
		font-size: 16px;
	}
	.orders__title .count{
		font-size: 10px;
	}
}
.order__info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.order._full .order__info{
	flex-direction: column;
	align-items: start;
}
.order__info > div{
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.order._full .order__info > div{
	margin: 0px 0px 8px 0px;
}
.order__date {
	text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    color: #296775;
	text-align-last: left !important;
	flex: 1 1 90px !important;
}
.order._full .order__date{
	flex: 1 1 auto !important;
}
.order__type-track {
	font-weight: bold;
    text-transform: uppercase;
	flex: 1 1 170px;
}
.order._full .order__type-track{
	flex: 1 1 auto !important;
}
.order__name {
	font-weight: bold;
    text-transform: uppercase;
	flex: 1 1 170px;
}
.order._full .order__name{
	flex: 1 1 auto !important;
}
.order__tel {
	font-weight: bold;
	font-size: 12px;
	text-align: right !important;
	flex: 1 1 120px !important;
}
.order._full .order__tel{
	flex: 1 1 auto !important;
}
.order__text {
	height: 58px;
	margin: 15px 0px 35px 0px;
	line-height: 1.4;
	overflow: hidden;
	text-align: left !important;
}
.order._full .order__text{
	height: auto;
	margin-top: 0;
}
.order__reply-btn {
    color: #000;
    position: absolute;
    bottom: 8px;
    right: 8px;
    text-transform: uppercase;
    font-size: 16px;
    background-color: #e0dcdc;
    padding: 5px 15px;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
}
.order__reply-btn:hover{
	background-color: #c2b8b8;
}
.order__text-more{
	display: block;
	position: absolute;
	bottom: -10px;
	left: calc(50% - 50px);
	width: 100px;
	height: 20px;
	padding: 0px 0;
	font-size: 11px;
	background-color: #fff;
	border-radius: 5px;
	text-transform: uppercase;
	box-shadow: 0px 1px 5px 0px rgb(105, 103, 103);
}
@media (max-width: 1260px) {
	.orders{
		flex: 0 0 55%;
	}
	.main__image_hide{
		left: 55%;
		margin-top: 150px !important;
	}
}
@media (max-width: 1000px) {
	.orders{
		flex: 0 0 60%;
	}
	.main__image_hide{
		width: 40%;
		left: 60%;
	}
}
@media (max-width: 900px) {
	.orders{
		flex: 0 1 100%;
		padding: 20px;
	}
}
@media (max-width: 600px) {
	.orders{
		padding: 3px;
	}
	.order__text{
		font-size: 12px;
		height: 52px;
	}
	.order__date{
		font-size: 9px;
	}
	.order__name{
		font-size: 11px;
	}
	.order__type-track{
		font-size: 11px;
	}
	.order__tel{
		font-size: 10px;
	}
}
@media (max-width: 500px) {
	.order__text{
		font-size: 10px;
		height: 40px;
	}
	.order__date{
		font-size: 7px;
	}
	.order__name{
		font-size: 9px;
	}
	.order__type-track{
		font-size: 9px;
	}
	.order__tel{
		font-size: 8px;
	}
}
@media (max-width: 400px) {
	.order__text{
		font-size: 12px;
		height: 52px;
	}
	.order__date{
		font-size: 6px;
	}
	.order__name{
		font-size: 8px;
	}
	.order__type-track{
		font-size: 8px;
	}
	.order__tel{
		font-size: 7px;
	}
	.order__reply-btn{
		font-size: 9px;
	}
}
/* Основные стили */

/* Стили модальных окон */
.popup {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(95, 90, 90, 0.7);
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 4;
	display: none;
}
.popup-body{
	min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.popup._open{
	display: block;
}
.popup-content{
	background-color: #fff;
	border-radius: 15px;
	position: relative;
	flex: 0 1 350px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px 15px;
}
.popup-title {
	font-size: 24px;
	font-weight: bold;
	margin: 20px 0;
}
.popup-close{
	position: absolute;
	top: -10px;
	right: -10px;
	width: 32px;
	height: 32px;
	cursor: pointer;
}
.popup-close:active{
	transform: scale(.95);
}
.popup-info{
	align-self: start;
	width: 100%;
}
.popup-info > *{
	margin: 0px 0px 7px 0px;
	display: flex;
}
.popup-info span{
	font-weight: bold;
	display: inline-block;
	width: 80px;
	font-size: 16px;
}
.popup-info input{
	font-size: 16px;
	flex: 1 1 auto;
}
.popup-form input {
	padding: 15px;
	border-bottom: 2px solid grey;
	font-size: 16px;
	width: 90%;
	margin: 0px 0px 10px 0px;
}
.popup-form input.error{
	border-bottom: 2px solid red;
}
.popup-form {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}
.popup-form select{
	width: 100%;
	font-size: 16px;
	padding: 8px;
	border: 1px solid grey;
	border-radius: 15px;
	text-transform: uppercase;
}
.popup-form textarea{
	border: 1px solid grey;
	border-radius: 15px;
	font-size: 16px;
	padding: 10px;
	width: 100%;
	resize: none;
	margin: 15px 0px 0px 0px;
	line-height: 1.4;
}
.popup-submit {
	background-color: #fff;
    padding: 10px 45px;
    font-size: 13px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    border-radius: 15px;
    box-shadow: 0px 5px 10px 2px rgb(34 60 80 / 20%);
	margin: 15px 0px 25px 0px;
}
.popup-add-order__content{
	flex: 0 1 600px;
}
.popup-add-order__bottom{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.popup-add-order__bottom input{
	border: 1px solid grey !important;
	border-radius: 15px;
	width: auto !important;
	padding: 10px 10px !important;
    font-size: 16px;
	text-align: center;
	text-transform: uppercase;
}
.popup-profile__content{
	width: 600px;
	padding: 25px 10px;
}
.popup-profile__form input{
	margin: 0px 0px 25px 0px;
}
.popup-send__content{
	flex: 0 1 600px;
}
@media (max-width: 630px) {
	.popup-add-order__content{
		flex: 0 1 500px;
		margin: 10px;
	}
	.popup-form select{
		font-size: 14px;
	}
	.popup-form textarea{
		font-size: 14px;
	}
	.popup-add-order__bottom input, .popup-add-order__bottom button{
		padding: 8px 25px;
		font-size: 10px;
		flex: 0 1 auto;
	}
	.popup-info input, .popup-info span{
		font-size: 13px;
	}
}
@media (max-width: 380px) {
	.popup-content{
		padding: 2px;
		flex: 0 1 300px;
	}
	.popup-add-order__content{
		flex: 0 1 400px;
		margin: 10px;
	}
	.popup-form input{
		font-size: 14px;
	}
	.popup-form select{
		font-size: 12px;
	}
	.popup-form textarea{
		font-size: 12px;
	}
	.popup-add-order__bottom input, .popup-add-order__bottom button{
		padding: 5px 15px;
		font-size: 8px;
	}
	.popup-add-order__bottom button{
		padding: 10px 30px;
	}
	.popup-profile__form input{
		font-size: 12px;
		padding: 8px;
	}
	.popup-submit{
		font-size: 10px;
	}
	.popup-send__content{
		padding: 8px;
	}
	.popup-info input{
		font-size: 8px;
	}
	.popup-info span{
		width: 50px;
		font-size: 10px;
	}
}
/* Стили модальных окон */